html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background);
}

#root {
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--background);
}

